$top-offset: 0;
$bp: 35rem;

section {
  position: relative;
}

// .top {
//   position: absolute;
//   top: 0;
// }


body {
  background-color: #F0EDEE;
  margin: $top-offset auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 


}

#author{
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

section {
  margin: 0;
  padding: 0;
}

article {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 40rem;
  
  p {
    font-family: Georgia;
    font-size: 2rem;
    line-height: 1.8;
    min-height: 90vh; 
    margin: 0;
    text-align: center;
    
    &:not(:last-of-type) {
     margin: 0 0 1rem;
    }
  }
}

figure {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: $top-offset;
  z-index: -1;
  
  @media screen and (min-width: $bp) {
    position: sticky;
  }
}

bottom {
    position: fixed;
    display: inline-block;
}